.topHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.quote {
  font-style: italic;
  font-size: 1.2rem;
}

.facePicture {
  border: 4px solid #e8e7eb;
  border-radius: 50%;
  height: 40vh;
}

.tableContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.countOnMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.hobbiesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.funnyStory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.funnyStoryTLDR {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
